* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #2f3136;
    padding: 0;
    margin: 0;
}

.info-title {
    text-align: center;
    color: gray;
}

.game-header {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(192, 192, 192) !important;
}

#welcome {
    color: rgb(163, 159, 159) !important;
    text-decoration: underline;
}

#welcome-text {
    margin-right: 21px;
    margin-left: 21px;
}

.game-active {
    margin: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #36393e !important;
    border: 1px solid #282a2e;
}

.game {
    margin: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    background-color: #2f3136;
}

.game-title {
    /* text-align: center; */
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}

.game-icon {
    float: left;
    margin-right: -8em;
    margin-left: 5em;
    margin-top: 4.6em;
    border-radius: 50%;
}

.buttons {
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50 !important;
    font-size: 10px;
    margin-top: 1em;
}

.buttons:hover {
    background-color: white !important;
    background-color: white !important;
    color: #4CAF50;
}

.search-container {
    position: fixed;
    top: 0;
    left: 1.5em;
    /* width: 100%; */
    /* text-align: center; */
    margin-bottom: 1em;
    z-index: 100;
}

#search-text {
    margin-top: 1em;
    height: 2em;
    border-radius: 3px;
    background-color: #424549;
    border: 2px solid #686a6e;
    color: #bebfc1;
    text-align: center;
    width: 20em;
}

.display-container {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left-bar {
    position: absolute;
    left: 0;
    top: 3.5em;
    bottom: 0;
    width: 45%;
    background-color: #2f3136;
    overflow-y: scroll;
}

.game-container {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #2f3136;
    overflow-y: scroll;
}

.info-container {
    position: absolute;
    left: 42.1%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #36393e;
    overflow-y: scroll;
}

.settings-icon {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: rgb(163, 159, 159);
}

.settings-icon:hover {
    transition: 0.9s;
    transform: rotate(180deg);
    color: rgb(228, 226, 226);
}

.starter-information {}

.game-banner {
    width: 100%;
    height: 215px;
    display: block;
}

.category-title {
    color: #abb2bf;
}

::-webkit-scrollbar {
    display: none;
}